.app.light {
  --bg-color: #ededed;
  --inverted-bg-color: blue;

  --primary-color: #c39406;
  --secondary-color: #fba960;
  --inverted-primary-color: green;
  --inverted-secondary-color: #0cde0c;
}
